@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1080px;
    margin: 0 auto;
    background: #f4f2ec url(imagens/fundo.png) repeat-x;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

a:link, a:active, a:visited {
    color: #af670a;
    text-decoration: none;
}

a:hover {
    color: #227115;
}

header {
    height: 55px;
    padding: 15px 0;
}

header h1 {
    width: 248px;
    height: 21px;
    text-indent: -9999px;
    background: url(imagens/logo.png) no-repeat;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a:link {
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid #535858;
}

main {
    margin-top: 30px;
}

section#content {
    float: left;
    width: 710px;
}

aside {
    float: right;
    width: 350px;
    padding-bottom: 30px;
    background: #ebe7dd;
}

section#visita {
    margin-top: 10px;
    padding: 27px;
    background: #cdc8b1;
}

h4 {
    padding-bottom: 3px;
    text-transform: uppercase;
    color: #86521a;
}

fieldset {
    border: none;
}

legend {
    display: none;
}

input {
    height: 20px;
    width: 80px;
    background: #fff;
    border: none;
    font-size: 1em;
}

input.campo {
    border: 1px solid #ada484;
}

input#button {
    width: 100%;
    height: 40px;
    background: #9b9271;
    font-size: 1.2em;
    color: white;
}

section#galeria {
    padding: 0 27px;
}

section#galeria a {
    display: block;
    float: left;
    padding: 17px 15px;
    margin: 10px 0 0 20px;
    background: url(imagens/fundo-foto.png) no-repeat;
}

section#galeria img {
    width: 93px;
    height: 93px;

    margin-top: 2px;
    margin-left: 3px;
}