@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 10px;
    width: 900px;
    background: #a1ac8d url(imagens/fundo.png);
    font: normal 1.1em Arial, Helvetica, sans-serif;
}

menu {
    padding: 30px;
    background-color: #a1ac8d;
}

menu p {
    color: #353e5e;
    font-size: 1.2em;
    font-weight: bold;
}

menu a {
    color: #242835;
    text-decoration: none;
    text-transform: uppercase;
}

menu a:hover {
    color: #364477;
    transition: 0.3s;
}


main {
    padding: 20px 15px;
    background-color: #ffffff;
    text-align: justify;
}

main h1 {
    color: #606e45;
    font-size: 25px;
}

main p {
    margin-top: 15px;
}

footer p {
    margin-top: 15px;
    color: #242835;
    font-weight: bold;
    text-align: center;
}